:root {
	--font-main: "Lato", sans-serif;
	--font-fancy: "Mrs Saint Delafield", cursive;

	--transition: all .2s ease-in-out;

	--white: #fdfdfc;
    --black: #131211;
    --dark-green: #064232;
    --green: #568f87;
    --pink: #f5babb;
    --grey: #fff5f2;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 1px;
}

html, body, #root {
	height: 100%;
}

body {
	font-size: 16rem;
	font-family: var(--font-main);
	background: var(--grey);
    color: var(--black);
    transition: var(--transition);
}

a {
    color: var(--black);
    text-decoration: none;
}

img {
	width: 100%;
	object-fit: cover;
}

input {
	outline: 0;
	border: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

li {
	list-style: none;
}

.btn {
    cursor: pointer;
    transition: var(--transition);
}


#banner-main {
	width: 100%;
	padding: 100rem 0;
	background-image: url(img/main_banner_1920.jpg);
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: relative;
}

#banner-main::after {
	content: "";
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0.4);
}

#banner-title {
	position: relative;
	font-family: var(--font-fancy);
	font-size: 116rem;
	color: var(--grey);
	z-index: 1;
}

.container {
	max-width: 80%;
	margin: 0 auto;
	padding: 50rem 0;
	text-align: center;
}

h1 {
	color: var(--dark-green);
	margin-bottom: 60rem;
	font-size: 46rem;
}

#timer-container,
#counters-container,
#fetch-container,
#weather-container {
	width: 100%;
	max-width: 1200rem;
	margin: 0 auto;
    display: flex;
	align-items: center;
	border-radius: 2rem;
}

#timer-container {
	padding: 50rem;
	justify-content: space-evenly;
	background-color: var(--green);
	margin-bottom: 50rem;
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
}

.timer-item {
	flex: 0 0 18%;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	gap: 10rem;
}

.item-value {
	padding: 10rem 0;
	font-size: 34rem;
	font-weight: 600;
	color: var(--dark-green);
	background-color: var(--grey);
	box-shadow:
		inset 0 0 2px 0 rgba(0, 0, 0, 0.3),
		inset 0 0 3px 0 var(--pink);
	border-radius: 2rem;
	transition: var(--transition);
}

.item-value:hover {
	background-color: var(--pink);
}

.item-text {
	font-size: 28rem;
	color: var(--grey);
	font-weight: 600;
}

#counters-container {
	padding: 50rem;
	justify-content: space-between;
	gap: 10rem;
	background-color: var(--dark-green);
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
	margin-bottom: 50rem;
}

.counter-item {
	padding: 10rem 0;
	flex: 0 0 calc((100% - (10rem * 2)) / 3);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column-reverse;
	gap: 5rem;
	position: relative;
	z-index: 0;
}

.counter-item::before {
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	background-color: rgba(225, 225, 225, 0.4);
	border-radius: 2rem;
	position: absolute;
	z-index: -1;
}

.counter-name {
	color: var(--grey);
	font-size: 28rem;
}

.counter-value {
	color: var(--pink);
	font-size: 30rem;
	font-weight: 700;
}

#fetch-container {
	padding: 0;
	justify-content: center;
	gap: 20rem;
	margin-bottom: 50rem;
}

.fetch-item {
	align-self: stretch;
	flex: 0 0 calc((100% - 20rem * 2) / 3);
	display: grid;
	grid-template-rows: 150rem 1fr;
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
	border-radius: 2rem;
	transition: var(--transition);
}

.fetch-item:hover {
	box-shadow: 0 0 25px 2px rgba(0, 0, 0, 0.5);
}

.fetch-item p {
	padding: 5rem;
	margin-top: 10rem;
	font-size: 22rem;
	text-align: left;
}

.fetch-item img {
	height: 100%;
	border-radius: 2rem 2rem 0 0;
}

#weather-container {
	flex-direction: column;
	padding: 50rem 0;
	background: linear-gradient(131deg, var(--green) 0%, var(--pink) 30%, var(--grey) 60%, var(--green) 100%);
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
}

#weather-date {
	margin-bottom: 10rem;
	color: var(--dark-green);
	font-size: 32rem;
}

#weather-comment {
	margin-bottom: 10rem;
	color: var(--dark-green);
	font-size: 26rem;
}

#weather-list {
	max-width: 50%;
	padding: 20rem;
	position: relative;
	z-index: 0;
}

#weather-list::before {
	content: "";
	width: 150%;
	height: 90%;
	left: -25%;
	right: 0;
	background-color: rgba(225, 225, 225, 0.3);
	border-radius: 2rem;
	position: absolute;
	z-index: -1;
}

#weather-list li {
	padding: 15rem 5rem 2rem 5rem;
	color: var(--dark-green);
	font-size: 24rem;
	font-weight: 600;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(3, 120rem);
	border-bottom: 2px solid var(--green);
}

#weather-list li span {
	display: block;
	text-align: left;
}

#weather-list li span:not(:first-of-type) {
	text-align: right;
}


