:root {
	--font-main: "Lato", sans-serif;

	--transition: all .2s ease-in-out;

	--white: #fdfdfc;
    --black: #131211;
    --dark-green: #064232;
    --green: #568f87;
    --pink: #f5babb;
    --grey: #fff5f2;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 1px;
}

html, body, #root {
	height: 100%;
}

body {
	font-size: 16rem;
	font-family: var(--font-main);
	background: var(--grey);
    color: var(--black);
    transition: var(--transition);
}

a {
    color: var(--black);
    text-decoration: none;
}

img {
	width: 100%;
	object-fit: cover;
}

input {
	outline: 0;
	border: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

li {
	list-style: none;
}

.btn {
    cursor: pointer;
    transition: var(--transition);
}

.container {
	max-width: 80%;
	margin: 0 auto;
	padding: 50rem 0;
	text-align: center;
}

h1 {
    color: var(--dark-green);
	margin-bottom: 30rem;
	font-size: 36rem;
}

#timer-container, #counters-container, #fetch-container {
	width: 100%;
	max-width: 1200rem;
	margin: 0 auto;
    display: flex;
	align-items: center;
	border-radius: 2rem;
}

#timer-container {
	padding: 20rem;
	justify-content: space-evenly;
	background-color: var(--green);
	margin-bottom: 50rem;
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
}

.timer-item {
	flex: 0 0 18%;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	gap: 10rem;
}

.item-value {
	font-size: 34rem;
	color: var(--dark-green);
	background-color: var(--grey);
	box-shadow:
		inset 0 0 2px 0 rgba(0, 0, 0, 0.3),
		inset 0 0 3px 0 var(--pink);
	border-radius: 2rem;
}

.item-text {
	font-size: 24rem;
	color: var(--dark-green);
	font-weight: 600;
}

#counters-container {
	padding: 20rem;
	justify-content: space-between;
	gap: 10rem;
	background-color: var(--dark-green);
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
	margin-bottom: 50rem;
}

.counter-item {
	flex: 0 0 calc((100% - (10rem * 2)) / 3);
	display: flex;
	flex-direction: column-reverse;
	gap: 5rem;
}

.counter-name {
	color: var(--grey);
	font-size: 24rem;
}

.counter-value {
	color: var(--pink);
	font-size: 26rem;
	font-weight: 700;
}

#fetch-container {
	padding: 0;
	justify-content: center;
	gap: 20rem;
	margin-bottom: 50rem;
}

.fetch-item {
	align-self: stretch;
	flex: 0 0 calc((100% - 20rem * 2) / 3);
	display: grid;
	grid-template-rows: 150rem 1fr;
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
	border-radius: 2rem;
}

.fetch-item p {
	padding: 5rem;
	margin-top: 10rem;
	font-size: 22rem;
	text-align: left;
}

.fetch-item img {
	height: 100%;
	border-radius: 2rem 2rem 0 0;
}



